<div class="container">
  <header
    class="d-flex flex-wrap justify-content-start py-3 mb-4 border-bottom"
  >
    <span class="fs-4">TuSegundazo.com</span>
  </header>
  <img src="./../assets/banner.jpg" class="img-fluid py-3 mb-4 border-bottom" alt="banner" />
</div>
<app-vehicle-list></app-vehicle-list>
<div class="container">
  <footer class="py-3 my-4">
    <p class="text-center text-muted">
      Contact us: +57 3102105253 - info@tusegundazo.com - @tusegundazo
    </p>
  </footer>
</div>
